# spring web server port
server.port=

# nats server
nats.consumer_name=
nats.consumer_password=
nats.url=
nats.filter_subject=
nats.request_wait_time_in_seconds=

# nats ssl
nats.tls_channel=
nats.keystore_path=
nats.truststore_path=
nats.key_password=
nats.store_password=

# spring data neo4j
spring.data.neo4j.username=
spring.data.neo4j.password=
spring.data.neo4j.uri=

# OracleDB connection settings
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

# HikariCP settings
spring.datasource.hikari.minimumIdle=
spring.datasource.hikari.maximumPoolSize=
spring.datasource.hikari.idleTimeout=
spring.datasource.hikari.maxLifetime=
spring.datasource.hikari.connectionTimeout=
spring.datasource.hikari.poolName=

# JPA settings
spring.jpa.database-platform=
spring.jpa.hibernate.use-new-id-generator-mappings=
spring.jpa.hibernate.ddl-auto=
crdb.query_timeout_seconds=

# new request topics
num.new_request_handler_threads=
igo.new_request_topic=
consumers.new_request_topic=

# promoted request topics
num.promoted_request_handler_threads=
igo.promoted_request_topic=
consumers.promoted_request_topic=

# request/sample update topics
smile.igo_request_update_topic=
smile.igo_sample_update_topic=
smile.cmo_request_update_topic=
smile.cmo_sample_update_topic=

# dmp sample topics
smile.dmp_new_sample_topic=
smile.dmp_sample_update_topic=
consumers.dmp_new_sample_topic=
consumers.dmp_sample_update_topic=

# request-reply topics
request_reply.patient_samples_topic=
request_reply.crdb_mapping_topic=
request_reply.cmo_label_generator_topic=

# cmo patient id correction topics
smile.correct_cmoptid_topic=

# messaging failures filepath
smile.publishing_failures_filepath=

# request handling failure filepath
smile.request_handling_failures_filepath=

# tempo topics
num.tempo_msg_handler_threads=
tempo.wes_bam_complete_topic=
tempo.wes_qc_complete_topic=
tempo.wes_maf_complete_topic=
tempo.wes_cohort_complete_topic=
tempo.sample_billing_topic=
