# spring web server port
server.port=

# nats server
nats.consumer_name=
nats.consumer_password=
nats.url=
nats.filter_subject=
nats.request_wait_time_in_seconds=

# nats ssl
nats.tls_channel=
nats.keystore_path=
nats.truststore_path=
nats.key_password=
nats.store_password=

# spring data neo4j
spring.data.neo4j.username=
spring.data.neo4j.password=
spring.data.neo4j.uri=

# messaging configuration
num.new_request_handler_threads=
igo.new_request_topic=
consistency_check.new_request_topic=
metadb.igo_request_update_topic=
metadb.igo_sample_update_topic=
metadb.cmo_request_update_topic=
metadb.cmo_sample_update_topic=
request_reply.patient_samples_topic=
request_reply.crdb_mapping_topic=
metadb.dmp_new_sample_topic=

# messaging failures filepath
metadb.publishing_failures_filepath=

# request handling failure filepath
metadb.request_handling_failures_filepath=
